.content{
    width: 1350px;
    background: #eee;
    float: left;
    .hot_activity {
        width: $section-width+10;
        height: 220px;
        margin: 0 auto;
        p{
            width:$section-width;
            height: 50px;
            color: #666;
            font-size: $market-fontsize-20+2;
            line-height: 50px;
        }
        ul li{
            width: 403.3px;
            height: 160px;
            float: left;
            margin-right: 10px;
            dl{
                width: 343px;
                height: 140px;
                dt img{
                    width: 140px;
                    height: 140px;
                    float: right;
                }
                dd{
                    width: 203px;
                    height: 103px;
                    float: left;
                    margin-top: 20px;
                   p{
                       font-size: $market-fontsize-18;
                       color: #fff;
                       margin-left: 25px;
                   }
                   span{
                       font-size: $market-fontsize-15+1;
                       color: yellow;
                       margin-left: 25px;
                   }
                }
                
            }
            
        }
        .pink{
            background: pink;
        }
        .orange{
            background: orange;
            opacity: .8;
        }
        .blue{
            background:blue;
            opacity: .8;
            width:418px;
            margin-right: 0;
        }
    }
    .hot_goods{
        margin: 0 auto;
        width: $section-width;
        p{
            width:$section-width;
            height: 50px;
            font-size: $market-fontsize-20+2;
            line-height: 50px;
            margin: 10px 0;
        }
        .left{
            width: 1022px;
            height: 402px;
            display: inline-block;
            li{
                width: 496px;
                height: 196px;
                float: left;
                background: #fff;
                margin: 0 10px 10px 0;
                dt{
                    float: left;
                    img{
                        width: 178px;
                        height: 178px;
                    }
                }
                dd{
                    width: 200px;
                    float: left;
                    margin: 10px 0 0 10px;
                    p{
                        font-size: $market-fontsize-14+1;
                    }
                    b{
                        font-size: $market-fontsize-20;
                        color: red;
                    }
                    span{
                        text-align: center;
                        line-height: 26px;
                        display: inline-block;
                        width: 95px;
                        height: 26px;
                        border-radius: 10px;
                        background: #333;
                        color: #fff;
                    }
                }
            }
        }
        .right{
            width: 217px;
            height: 402px;
            float: right;
            img{
                width: 217px;
                height: 402px;
            }
        }
    }
    .other_goods{
        width: $section-width;
        margin: 0 auto;
        background: red;
        li{
            width: 229px;
            height: 301px;
            float: left;
            background: #fff;
            margin-right: 23px;
            margin-bottom: 10px;
            text-align: center;
            .box{
                width: 200px;
                height: 160px;
                text-align: center;
                margin:  30px 0 10px 10px; 
                img{
                    width: 160px;
                    height: 160px;
                }
            }
            a img{
                width: 229px;
                height: 301px;
            }
            p{
                color: #666;
                font-size: $market-fontsize-14;
                margin-top: 20px;
            }
            span{
                color: red;
                font-size: $market-fontsize-18;
            }
        } 
        .right{
            margin-right:0;
        }
            
    }
}