.header{
    width: $box-width;
    height: 179px;
    .top_wrap{
        width: $box-width;
        height: 36px;
        background: #ccc;
    }
    .top_t{
        width: $section-width;
        height: 36px;
        background: #ccc;
        margin: 0 auto;
        .left{
            float: left;
            ul li{
                float: left;
                width: 68px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                color: #999;
                cursor: pointer;
            }
            ul li :hover{
                color: $hover-color;
            }
        }
        .right{
            float: right;
            ul a{
                float: right;
                width: 58px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                color: #999;
                text-decoration: none;
            }
            ul li{
                float: right;
                width: 94px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                color: #999;
                margin-left: 8px;
                cursor: pointer;
            }
        }
    }
    .top_b{
        width: $section-width;
        height: 102px;
        margin: 0 auto;
        .oImg{
            float: left;
        }
        .int{
            width: 940px;
            height: 72px;
            float: left;
            padding: 30px 0 0 200px;
            input{
                width: 464px;
                height: 42px;
                float: left;
                border: 1px solid $hover-color;
            }
            .btn1{
                width: 72px;
                height: 42px;
                border: none;
                float: left;
                background: $hover-color;
                margin-left: 5px;
                span{
                    color: #fff;
                    font-size: $market-fontsize-15;
                }
            }
            a{
                width: 158px;
                height: 42px;
                float: left;
                display: block;
                margin-left: 10px;
                text-align: center;
                line-height: 42px;
                background: #f9f9f9;
                border: 1px solid #999;
                color: gray;
                text-decoration: none;
                cursor: pointer;
                i{
                    margin-right: 2px;
                    color: $hover-color;
                }
            }
        }
        .ulbox{
            width: 940px;
            height: 21px;
            float: left;
            padding: 5px 0 0 200px;
            text-align: center;
            line-height: 21px;
            ul li{
                float: left;
                width: 70px;
                font-size: $market-fontsize-12;
                a{
                    color: #999;
                    text-decoration: none;
                    cursor: pointer;
                }
            };
        }
    }
    .banner{
       width: $section-width;
       height: 37px;
       margin: 0 auto;
       a{
           float: left;
           width: 210px;
           height: 41px;
           text-align: center;
           line-height: 37px;
           text-decoration: none;
           cursor: pointer;
           background: #000;
           color: #fff;
           font-size: $market-fontsize-15;
           margin-right:40px; 
       }
       ul li a{
                float: left;
                width: 75px;
                height: 37px;
                text-align: center;
                line-height: 37px;
                text-decoration: none;
                cursor: pointer;
                background: #fff;
                color: #323334;
                margin-right:0;
                font-weight: 500;
                font-size:16px;
               }
        span{
            margin-right: 10px;
        }
    }
}

